* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: #333333;
}

a:hover {
  color: #ffbb00;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #333333;
}

.bold {
  font-weight: 400;
}

code {
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  background-color: #d8d8d8;
  display: block;
  margin: 20px 0;
  max-width: 800px;
  padding: 15px;
}


header {
  /* background-image: url('../img/test.png'); */
  /* background-size: 200px; */
  height: 100%;
  padding: 50px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  font-size: 1.25em;
  margin: 0;
  border: 4px solid #fa670f;
  padding: 5px;
  background-color: #ffffff;
}

nav h1:hover {
  border: 4px solid #ffbb00;
}

.logo-link {
  color: #fa670f;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 0 10px;
  font-weight: 700;
}

nav a {
  text-decoration: none;
}

.blurb {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}

.blurb-scroll {
  position: relative;
  text-align: center;
  margin: 50px 0;
}

.blurb-scroll .fa-angle-down {
  font-size: 2em;
}

section {
  padding: 50px;
}

.services {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: auto;
}

.service-item {
  display: inline-block;
  max-width: 300px;
  margin: 20px;
}

.services .icon {
  font-size: 3em;
  text-align: center;
}

.services .heading {
  text-align: center;
}

.work {
  background-color: #333333;
  color: #fff;
}

.work .heading {
  text-align: center;
}

.work .project {
  max-width: 1400px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "screen description"
}

.work .project.alt {
  grid-template-areas:
    "description screen"
}

.work .item {
  padding: 20px;
  align-self: center;
}

.work .description {
  grid-area: description;
}

.work .screen {
  grid-area: screen;
}

.work .screen img {
  width: 100%;
}

.contact {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

input, textarea {
  border: 1px solid #d8d8d8;
  font-size: 1em;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

input:focus, textarea:focus {
  outline-color: #ffbb00;
}

textarea {
  min-height: 150px;
  resize: none;
}

input[type=submit] {
  font-size: 1em;
  border: 2px solid #fa670f;
  background-color: #fa670f;
  color: #fff;
  padding: 15px 30px;
  min-width: 150px;
  font-weight: 400;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ffbb00;
  border: 2px solid #ffbb00;
}

footer {
  background-color: #333333;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

footer p {
  display: inline-block;
  padding: 10px 20px;
}

footer ul {
  margin: 0;
  text-align: right;
  font-size: 1.5em;
  display: inline-block;
}

footer li {
  display: inline-block;
  padding: 20px;
}

footer a {
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .work .project {
    grid-template-columns: 1fr;
    grid-template-areas:
      "screen"
      "description"
  }

  .work .project.alt {
    grid-template-areas:
      "screen"
      "description"
  }
}

@media screen and (max-width: 600px) {
  nav ul {
    display: none;
  }

  h1 {
    font-size: 2em;
  }

  footer {
    justify-content: space-around;
  }

  footer ul {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 1.5em;
  }
}
